astroid==2.11.5
colorama==0.4.4
dill==0.3.4
distlib==0.3.4
filelock==3.7.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.22.3
platformdirs==2.5.2
pycodestyle==2.8.0
pylint==2.13.9
six==1.16.0
tomli==2.0.1
virtualenv==20.14.1
wrapt==1.14.1
